body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app{
  background-color: rgb(38,38,38);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner{
  background-image: url('./img/Car+Window+Tint-1920w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .banner {
    background-size: 150%; 
  }
}

.full-width-carousel {
  width: 100%;
}

.small-full-width-carousel {
  max-width: 100%;
  margin: 0 auto;
}

.full-width-carousel .carousel-inner .carousel-item {
  width: 100%;
}

.full-width-carousel .carousel-inner .carousel-item img {
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  padding: 20px; 
}

.bannerDiv {
  background: radial-gradient(white, black);
}

@media (max-width: 576px) {
  .banner {
    display: none;
  }
}

.custom-nav-link {
  font-size: 18px;
  font-weight: bold;
  color: red;
}
