body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: rgb(15, 8, 102);
  height: 75px;
}

.header-brand {
  font-size:x-large;
  color: white;
  display: flex;
  align-items: center;
  height: 75px;
}

.header-item{
  color: white;
  display: flex;
  align-items: center;
  height: 75px;
}